/*
 * Style modifications for this website
 */

body {
    font-family: "Roboto", Arial, sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", Arial, sans-serif;
    text-transform: none;
}

header .intro-text .name {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

.navbar-custom {
    font-family: "Roboto", Arial, sans-serif;
    text-transform: none;
}

@media (max-width: 767px) {
    img {
        width: 100% !important;
        height: auto !important;
    }
}
