.simpletable {
    padding: 0;
}
.simpletable tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
.simpletable tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.simpletable tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
.simpletable tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
.simpletable tr th:first-child,
.simpletable tr td:first-child {
    margin-top: 0;
}
.simpletable tr th:last-child,
.simpletable tr td:last-child {
    margin-bottom: 0;
}
