---
layout: default
title: Akshay Chavan
---

<img class="profilepic" src="/images/profile400x400.png" atl="Akshay Chavan"></img>

<h2>
    {{ site.data.about[0] }}
    {% include social.html %}
</h2>
<div style="font-size:22px;line-height:44px">
    {{ site.data.about[1] }}
</div>

<style>
    table,
    th,
    td {
        border: none;
    }
</style>

<h3>Skills</h3>
<!-- http://jsfiddle.net/cUCvY/1/ -->
<div class="skillswrapper">
    <div id="skillsleft">
        <table style="width:100%;">
            <tbody>
                <tr>
                    <th style="text-align:left">
                        <h4>{{ site.data.skills[0].type }}</h4>
                    </th>
                </tr>
                {% for i in (0..4) %}
                <tr>
                    <td style="text-align:left">{{ site.data.skills[0].names[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="skillsright">
        <table style="width:100%;">
            <tbody>
                <tr>
                    <th style="text-align:right">
                        <h4>{{ site.data.skills[1].type }}</h4>
                    </th>
                </tr>
                {% for i in (0..4) %}
                <tr>
                    <td style="text-align:right">{{ site.data.skills[1].names[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>
<h3>Latest <a href='/projects'>Projects</a></h3>
{% for project in site.data.projects limit:4 %}
    <h4><a href={{ project.link }}>{{ project.title }}</a></h4>
    {{ project.tagline }}
{% endfor %}

<hr>
<h3><a href="/blog/">OfficiallyTech</a></h3>
{% for post in site.posts limit:1 %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    {{ post.content }}
{% endfor %}
<hr>

<center><h3><a href="/etc/">Etc ...</a></h3></center>
<hr>
