<a href="https://github.com/arccoder"
  target="_blank">
   <i class="fa fa-fw fa-github"></i>
</a>
<a href="https://scholar.google.com/citations?user=agEAOgsAAAAJ"
  target="_blank">
   <i class="ai ai-google-scholar"></i>
</a>
<a href="https://twitter.com/arccoder"
  target="_blank">
   <i class="fa fa-fw fa-twitter"></i>
</a>
<a href="https://www.linkedin.com/in/akshaychavan"
  target="_blank">
   <i class="fa fa-fw fa-linkedin"></i>
</a>
<a href="mailto:chavanakshay9@gmail.com?Subject=From_Site:">
   <i class="fa fa-fw fa-envelope"></i>
</a>
