<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }} - {{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    {% if site.font-awesome-include %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">

    <script src="{{ site.baseurl }}/scripts/jquery.js"></script>

    <link rel="canonical" href="{{ site.url }}" />
    {% seo %}
</head>

<body>
    <article>
        <div class="container">
            {{ content }}
        </div>
        <center>
            <h3>{% include social.html %}</h3>
            2017 @ All Rights Reserved.
            <h3>
                <a href="#" onclick="scrollToTop();return false">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </a>
            </h3>
        </center>
    </article>
    <script>
        // https://gist.github.com/ricardozea/abb9f98a19f6d04a0269
        var timeOut;

        function scrollToTop() {
            if (document.body.scrollTop != 0 || document.documentElement.scrollTop != 0) {
                window.scrollBy(0, -50);
                timeOut = setTimeout('scrollToTop()', 10);
            } else clearTimeout(timeOut);
        }
    </script>
    <script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>
</body>

</html>
