<!DOCTYPE html>
<html>
    <head>
        
        <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
        {% seo %}
    
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />

        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/css/freelancer.css" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="academicons-1.7.0/css/academicons.css" rel="stylesheet" type="text/css">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        
    </head>

    <body class="index" id="page-top">
    
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggle" 
                            data-target="#bs-example-navbar-collapse-1" 
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" href="{{ site.url }}">Akshay Chavan</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="hidden">
                            <a href="#about">About</a>
                        </li>
                        <li class="hidden">
                            <a href="#skills">Skills</a>
                        </li>
                        <li class="hidden">
                            <a href="#portfolio">Projects</a>
                        </li>
                        <li class="hidden">
                            <a href="#links">Links</a>
                        </li>
                        -->
                        <li class="page-scroll">
                            <a href="" target="_blank">#officiallytech</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        
        <br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div id="main" role="main" class="container">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>

        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include svg-icons.html %}
                </footer>
            </div>
        </div>

        {% include analytics.html %}
    </body>
    
    <!-- jQuery -->
    <script src="/js/jquery.js"></script> 
    
    <!-- Plugin JavaScript --> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
    
    <!-- Bootstrap Core JavaScript --> 
    <script src="/js/bootstrap.min.js"></script> 

    <!-- Custom Theme JavaScript --> 
    <script src="/js/freelancer.js"></script>
  
</html>
