---
layout: default
---
<div class="container">
    <article class="post">

      <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
      <h2>Written by <a href="/">Akshay Chavan</a> on <a href="/blog/">#officiallytech</a> </h2>
      <span>{{ page.date | date_to_string }}</span>
      <span style="float:right">
          {% include post-tags.html %}
      </span>
      <br><br><br>
      <div class="entry">
        {{ content }}
      </div>

      {% include sharing.html %}

      <div class="PageNavigation">
          {% if page.previous.url %}
              <div style="float:left;width:250px">
                  <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
              </div>
          {% endif %}
          {% if page.next.url %}
              <div style="float:right;width:250px">
                  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
              </div>
          {% endif %}
      </div>
      <br><br><br>
      <h3>Related Posts</h3>
        {% for post in site.related_posts limit:3 %}
            <a href="{{ post.url }}">
              {{ post.title }} : {{ post.date | date_to_string }}
            </a>
            <br>
        {% endfor %}
      <br>

      {% include disqus.html %}
    </article>
</div>
