---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  {{ page.date | date_to_string }}    {% include post-tags.html %}

  <br>
  <div class="entry">
    {{ content }}
  </div>
  <br>
  
  <span class="post-date">Share this blog: </span>
  {% include add_this.html %}

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  <br>
  <h2>Related Posts</h2>
    {% for post in site.related_posts limit:3 %}
      <h6>
        <a href="{{ post.url }}">
          {{ post.title }} : {{ post.date | date_to_string }}
        </a>
      </h6>
    {% endfor %}
  <br>

  {% include disqus.html %}
</article>
